<html>
<head>
<title>Welcome to YORB!</title>
</head>
<body style="background-image:url('assets/hintergrund_style.jpg');color:rgb(255, 16, 16)">

    <h1>YORB 2020 is a project lovingly produced by some of the 2020 residents and fellows of <a href="https://tisch.nyu.edu/itp">ITP</a>:</h1>
    <ul style="font-size: 30;"><a href="https://ellennickles.site/">Ellen Nickles</a></ul>
    <ul style="font-size: 30;"><a href="https://www.aidanjnelson.com/">Aidan Nelson</a></ul>
    <ul style="font-size: 30;"><a href="https://nicolation.net/">Nicole Aptekar</a></ul>
    <ul style="font-size: 30;"><a href="https://www.jesse-simpson.com/">Jesse Simpson</a></ul>
    <ul style="font-size: 30;"><a href="https://www.danioved.com/">Dan Oved</a></ul>  
    <ul style="font-size: 30;"><a href="https://alden.website/">Alden Rivendale Jones</a>, webmaster</ul>

</body>
</html>