<html>
<head>
<title>Welcome to YORB!</title>
<link rel="stylesheet"
href="https://fonts.googleapis.com/css?family=Tangerine">
</head>
<body style="background-image:url('assets/hintergrund_style.jpg')">
	
	<h1 style="text-align:center;font-family:'Tangerine',serif;color:rgb(255, 0, 200);font-size: 70px;"><img src="assets/21.gif"><i> THE YARCHIVE  </i><img src="assets/21.gif"></h1>
	<center>
	<table border="3" style="text-align:center;font-family:serif;color:rgb(0, 4, 255)">
            <thead>
                <tr>
                    <th width="150">Category</th>
                    <th width="170">Description</th>
                    <th width="175">URL</th>
                    <th width="170">notes</th>
                </tr>
            </thead>
            <tbody>
            	<tr>
                    <td>The VIDEODOME</a></td>
                    <td>A collection of YORB-related videos.</td>
                    <td><a href="https://www.youtube.com/playlist?list=PLsUfmDKc_P3gB0oW3y9VUZhZZ2vjHkTSv" target="_blank">https://www.youtube.com/playlist?list=PLsUfmDKc_P3gB0oW3y9VUZhZZ2vjHkTSv</a></td>
                    <td>You got some YORB to share? Please contact Ellen Nickles at enickles@gmail.com</td>
                </tr>
                <tr>
                    <td>YLIBRARY</td>
                    <td>Documents, images, and digital assets relating to YORB.</td>
                    <td>Coming soon!</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Interviews</td>
                    <td>Interviews with YORBers of yore</td>
                    <td>Coming soon!</td>
                    <td></td>
                </tr>
            </tbody>
		</table>
	</center>
</body>
</html>